@font-face {
font-family: 'InterDisplay';
src: url('./InterDisplay-Medium.woff2') format('woff2');
font-weight: 500;
font-style: medium;
font-display: swap;
}

@font-face {
font-family: 'InterDisplay';
src: url('./InterDisplay-SemiBold.woff2') format('woff2');
font-weight: 600; /* ключевой момент */
font-style: semibold;
font-display: swap;
}

/*Основной контейнер виджета*/
.l-start__content {
  padding: 1.4706vw;
}

.b-start {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

/*Контейнер формы*/
.b-start__field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 12px;
  flex-grow: 1;
  flex-basis: initial;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7353vw;
  margin: 0;
  width: fit-content !important;
}

/*это потом*/
.s-btn {
  font-family: 'InterDisplay', Arial, sans-serif;
  font-weight: 600;
  background: red;
  font-size: 2.3529vw;
}

.icon-guest {
  background-image: url('./person.svg') !important;
  background-color: red;
}


@media (max-width:1200px) {
    

    
}

@media (max-width:640px) {
    

    
}
