@font-face {
font-family: 'InterDisplay';
src: url('./InterDisplay-Medium.woff2') format('woff2');
font-weight: 500;
font-style: medium;
font-display: swap;
}

@font-face {
font-family: 'InterDisplay';
src: url('./InterDisplay-SemiBold.woff2') format('woff2');
font-weight: 600;
font-style: semibold;
font-display: swap;
}

/*Основной контейнер виджета*/
.l-start__content {
  padding: 1.4706vw; /*10px относительно 680*/
}

.b-start {
  background: transparent;
  box-shadow: none;
  padding: 0;
  flex-wrap: nowrap;
  gap: 2.9412vw; /*20px относительно 680*/
}

/*Контейнер формы*/
.b-start__filter-field {
  flex-wrap: nowrap;
  flex-grow: 0;
  gap: 2.9412vw; /*20px относительно 680*/
}

.b-start__field {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7353vw; /*5px относительно 680*/
  margin: 0;
  width: fit-content !important;
}

/*Лейбл*/
.b-start__field-label {
  color: #4B463B;
  padding: 0;
  font-size: 1.4706vw; /*10px относительно 680*/
}

/*Поле формы*/
.b-select-ghost {
  height: fit-content;
  border: none;
  padding: 0.7353vw; /*5px относительно 680*/
  padding-right: 3.6765vw; /*25px относительно 680*/
  gap: 1.4706vw; /*10px относительно 680*/
  background: #F7F1DF;
  border-radius: 4px;
}

/*Иконка календаря*/
.icon-calendar {
  width: 2.6471vw; /*18px относительно 680*/
  height: 2.9412vw; /*20px относительно 680*/
  background-image: url(./calendar.svg);
}

/*Иконка персоны*/
.icon-guest {
  width: 2.9412vw; /*20px относительно 680*/
  height: 2.9412vw; /*20px относительно 680*/
  background-image: url('./person.svg');
}

/*Иконка стрелочки*/
.b-select-ghost:after {
  right: 0.7353vw; /*5px относительно 680*/
  width: 1.7647vw; /*12px относительно 680*/
  height: 1.1765vw; /*8px относительно 680*/
  background-image: url('./arrow-widget.svg');
  top: 50%;
  margin-top: 0;
  transform: translateY(-50%);
}

/*это потом*/
.s-btn {
  font-family: 'InterDisplay', Arial, sans-serif;
  font-weight: 600;
  background: red;
  font-size: 2.3529vw; /*16px относительно 680*/
}




@media (max-width:1200px) {
    

    
}

@media (max-width:640px) {
    

    
}
